<!-- navbar -->
<div class="navbar posFixTL bg-white width-100 zIndex-s borderBottomWidth-1 borderColor-foreground borderStyle-solid">
		<div class="display-flex" style="align-items:center; height: 55px;">

				<!-- <back-button></back-button> -->

				<div style="flex: 1">
						<div class="fontFamily-primary-bold fontSize-s textTransform-capitilze">
							dashboard
						</div>
				</div>
				<div style="flex: .3; align-items: center; justify-content: flex-end;" class="display-flex">
						<div ng-click="logout()" class="c-grey fontSize-xm textAlign-right position-relative marginRight-s">
							<i class="ion-log-out"></i>
						</div>					
						<div class="textAlign-right position-relative marginRight-s">
								<i ng-click="showNoti = !showNoti" ng-class="{'c-grey': notiUnread, 'c-grey-l': !notiUnread}" class="icon ion-android-notifications fontSize-xm c-grey" style="margin-top:-2"></i>
								<span ng-show="notiUnread" class="position-absolute bg-danger" style="width: 8px; height: 8px; border-radius: 50%; top: 0; right: -5px;"></span>
								<div ng-show="showNoti" style="position: absolute; right: 0; width: 300px; height: 250px; overflow-y: scroll" class="animated fadeIn borderColor-foreground borderStyle-solid borderWidth-1 notificationsBox bg-white boxShadow-card textAlign-left">
									<div ng-click="readNoti(noti)" ng-class="{'bg-foreground': !noti.isRead }" ng-repeat="noti in notifications | orderBy:'-'" class="bg-foreground-d--hover cursor-pointer notification-item fontFamily-primary padding-s borderBottomWidth-1 borderColor-grey-l borderStyle-solid">
										<span class="fontFamily-primary-bold">{{noti.name}}</span>'s {{noti.data.name}} is <span class="c-danger textTransform-capitilze">{{noti.data.status}}</span> </br>
										<span class="fontFamily-primary fontSize-xs c-grey">{{noti.timestamp * 1000 | date: 'MMM, M hh:mm'}}</span>
									</div>
								</div>
						</div>
						<!-- <div class="textAlign-right marginLeft-xm marginRight-s">
							<div ng-click="profile.toggle()" class="bg-grey-l cursor-pointer" style="width: 40px; height: 40px; border-radius: 50%; background-position: center; background-size: cover; background-image: url('{{me.profile.profilePic}}')"></div>
						</div> -->
				</div>
				<!-- <profile></profile> -->
		</div>
</div>
<!-- end navbar -->


<!-- ui view -->
<div class="content-view" style="padding-top:55px;">
	<div ui-view></div>
</div>
<!-- end ui view -->