<style>
    .highcharts-graph.zone-0 {
	stroke: #f7a35c;
}
.highcharts-area.zone-0 {
	fill: #f7a35c;
}
.highcharts-point.zone-0 {
	fill: #f7a35c;
}
</style>
<div class="animated fadeIn">
    <div class="padding-xm">
        <div class="row margin-0">
            <div class="col-xs-12 paddingLeft-0 marginBottom-xm">
                <div class="bg-white borderWidth-1 borderColor-foreground padding-xm position-relative" style="height: 400px;">
                    <div ng-click="goal.toggle()" class="floatRight button button-primary">
                        Set Goal
                    </div>
                    <div class="fontFamily-primary-bold textTransform-uppercase c-grey">
                        {{ selectedData[selectedData.length - 1].name }} <span ng-show="selectedData[selectedData.length - 1].unit" class="fontSize-xxs fontFamily-primary c-grey-l"> / {{ selectedData[selectedData.length - 1].unit }}</span>
                    </div>
                    <div ng-class="{'c-danger': selectedData[selectedData.length - 1].isDanger, 'c-grey-d': !selectedData[selectedData.length - 1].isDanger}" class="fontFamily-primary fontSize-xxl">
                        {{ selectedData[selectedData.length - 1].value || "--" }}
                    </div>
                    <div ng-show="selectedData[selectedData.length - 1].timestamp" class="fontFamily-primary c-grey">
                        {{ selectedData[selectedData.length - 1].timeAgo }}
                    </div>
                    <div ng-hide="selectedData[selectedData.length - 1].timestamp" class="fontFamily-primary c-grey">
                        No updates
                    </div>
                    <highchart style="height: 260px" id="chartData" config="chartData"></highchart>
                </div>
            </div>
        </div>

        <div class="row margin-0">
            <div class="col-xs-12 paddingLeft-0">
                <div class="bg-white borderWidth-1 borderColor-foreground paddingTopBottom-xm position-relative boxShadow-card fontFamily-primary">
                    <div class="data-history">
                        <div class="fontFamily-primary-bold c-grey textTransform-uppercase paddingLeftRight-xm paddingLeftRight-xm">
                            history
                        </div>
                        <div ng-repeat="data in selectedData | orderBy:'-'" class="row margin-0 friend-item paddingTopBottom-xm paddingLeftRight-xm fontFamily-primary">
                            <div class="col-xs-3 c-grey-d padding-0 fontFamily-primary-bold">
                                {{ data.value }} <span ng-show="data.unit" class="fontFamily-primary c-grey-l textTransform-uppercase">/ {{data.unit}}</span>
                            </div>
                            <div class="col-xs-3 c-grey-d textTransform-capitilze">
                                {{ data.name }}
                            </div>
                            <div class="col-xs-6 textAlign-right c-grey-l">
                                {{ data.timestamp * 1000  | date:'medium'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="goal._show" class="animated fadeIn _modal">
    <div class="padding-xm">
        <div class="animated zoomIn bg-white padding-xm boxShadow-card borderRadius-xs borderWidth-1 borderColor-foreground borderStyle-solid centered" style="min-width: 200px; max-width: 400px; max-height: 450px;">
            <div class="fontFamily-primary-bold textTransform-uppercase position-relative">
                Set Goal <span class="floatRight"><i ng-click="goal.close()" class="icon ion-close-circled c-grey fontSize-xm"></i>
            </div>
            <div class="marginTop-xxs">
                <div class="input">
                    <input type="text" ng-model="goal.value" placeholder="Target value (eg. 65)">
                </div>
                <div class="marginTop-xs textAlign-right">
                    <div ng-click="goal.add()" class="button display-inline-block button-primary">
                        Add
                    </div>
                    <div ng-click="goal.close()" class="button display-inline-block">
                        Close
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>