<style>
    .chart-box {
        height: 150px;
    }
    .data-box {
        height: 290px;
        padding: 20px;
    }
    .status-icon div {
        top: 22px;
        right: 20px;
    }
    @media screen and (max-width: 991px) {
        .chart-box {
            height: 70px;
            position: absolute;
            width: 50%;
            right: 0;
            bottom: 0;
        }
        .data-box {
            height: 130px;
            padding: 10px;
        }
        .status-icon div {
            top: 12px;
        }
    }
    @media screen and (max-width: 768px) {
        .xs-paddingRight-0 {
            padding-right: 0 !important;
        }
        .button-add-wrapper {
            width: 100%;
        }
        .button-add {
            width: 100% !important;
        }
    }
</style>

<div class="animated fadeIn">
    <div class="padding-xm">
        <div class="row margin-0 marginBottom-xm">
            <div class="col-xs-12"> 
                <div class="floatRight paddingRight-xs button-add-wrapper">
                    <div ng-click="vm.devices_modal.show()" class="button-add button button-primary fontFamily-primary-bold paddingLeftRight-xm" style="width: 150px"><i class="icon ion-android-add-circle marginRight-xs"></i> Add Devices</div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div ui-sref="dashboard.data({key: key, uid: vm.uid})" ng-repeat="(key,data) in vm.datas" class="col-xs-12 col-sm-4 col-md-3 paddingLeft-0 marginBottom-xm xs-paddingRight-0">
                <div ng-class="{'opac-xm': !data[data.length-1].value, 'cursor-pointer': data[data.length-1].value, 'boxShadow-card': data[data.length-1].value}" class="data-box bg-white borderWidth-1 borderColor-foreground position-relative">
                    <div class="fontFamily-primary-bold textTransform-uppercase c-grey" style="max-width: 90%;">
                        {{ data[data.length-1].name }} <span ng-show="data[0].unit" class="fontSize-xxs fontFamily-primary c-grey-l"> / {{ data[data.length-1].unit }}</span> 
                    </div>
                    <div ng-show="key === 'ast' || key === 'alt' || key === 'ggt'" class="status-icon">
                        <div ng-show="data[data.length - 1] > data[0] || data[data.length-1].isDanger" class="fontFamily-primary-bold c-danger posPinTR fontSize-xxs textTransform-uppercase">
                                warning
                        </div>
                        <div ng-hide="data[data.length - 1] > data[0] && data[data.length-1].isDanger" class="fontFamily-primary-bold c-success posPinTR fontSize-xxs textTransform-uppercase">
                                normal
                        </div>
                    </div>
                    <div ng-show="(key !== 'ast' || key !== 'alt' || key !== 'ggt')" class="status-icon">
                        <div ng-show="data[data.length-1].isDanger" class="fontFamily-primary-bold c-danger posPinTR fontSize-xxs textTransform-uppercase">
                                warning
                        </div>
                        <div ng-hide="data[data.length-1].isDanger" class="fontFamily-primary-bold c-success posPinTR fontSize-xxs textTransform-uppercase">
                                normal
                        </div>
                    </div>
                    <div ng-class="{'c-danger': data[data.length-1].isDanger, 'c-grey-d': !data[data.length-1].isDanger}"  style="line-height: 1.2" class="fontFamily-primary fontSize-xxl position-relative">
                        {{ data[data.length-1].value || "--" }}
                    </div>
                    <div ng-show="data[data.length-1].timestamp" class="fontFamily-primary c-grey">
                        {{ data[data.length-1].timeAgo }}
                    </div>
                    <div ng-hide="data[data.length-1].timestamp" class="fontFamily-primary c-grey">
                        No updates
                    </div>
                    <highchart id="chartfriend" class="chart-box" config="vm.chartConfig[key]"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Device -->
<div ng-show="vm.devices_modal._show" class="animated fadeIn _modal">
    <div class="padding-xm">
        <div class="animated zoomIn bg-white padding-xm boxShadow-card borderRadius-xs borderWidth-1 borderColor-foreground borderStyle-solid centered" style="min-width: 200px; max-width: 400px; height: 400px;">
            <div class="fontFamily-primary-bold textTransform-uppercase position-relative">
                3rd Party supported <span class="floatRight"><i ng-click="vm.devices_modal.close()" class="icon ion-close-circled c-grey fontSize-xm"></i>
            </div>
            <div class="marginTop-xxs">
                <input ng-model="vm.thirdPartySearch" class="width-100 fontFamily-primary paddingTopBottom-s paddingLeftRight-s bg-foreground borderWidth-0" type="text" placeholder="Search" />
            </div>
            <div style="height: 350px; overflow-y: scroll;">
                <div class="row margin-0 user-item paddingTopBottom-s paddingLeftRight-xs borderBottomWidth-1 borderColor-foreground borderStyle-solid ">
                    <div style="padding-top: 5px; padding-bottom: 5px;" class="col-xs-8 c-grey-d fontFamily-primary-bold paddingLeftRight-0">
                        <span style="text-transform: capitalize;">iHealth</span>
                    </div>
                    <div class="col-xs-4 paddingLeftRight-0 textAlign-right">
                        <a href="http://sandboxapi.ihealthlabs.com/OpenApiV2/OAuthv2/userauthorization/?client_id=0a5b29b8fe114743990ba3c4ca4ebcb3&response_type=code&redirect_uri=https%3A%2F%2Fwelse-app.azurewebsites.net%2Fapi%2Fihealth%2Fcallback&APIName=OpenApiActivity%20OpenApiBG%20OpenApiBP%20OpenApiSleep%20OpenApiWeight%20OpenApiUserInfo%20OpenApiSpO2" class="fontFamily-primary-bold button-primary button textTranform-capitilze borderRadius-xxs" style="padding-top: 4px;padding-bottom: 4px; width:80px; display:block; float: right;">
                            Add
                        </a>
                    </div>
                </div>
                <div ng-repeat="thirdPartyItem in vm.thirdPartyList | filter:vm.thirdPartySearch" class="row margin-0 user-item paddingTopBottom-s paddingLeftRight-xs borderBottomWidth-1 borderColor-foreground borderStyle-solid ">
                    <div style="padding-top: 5px; padding-bottom: 5px;" class="col-xs-8 c-grey-d fontFamily-primary-bold paddingLeftRight-0">
                        <span style="text-transform: capitalize;">{{thirdPartyItem.name}}</span>
                    </div>
                    <div class="col-xs-4 paddingLeftRight-0 textAlign-right">
                        <button ng-click="vm.addNewDevice(thirdPartyItem)" class="fontFamily-primary-bold button-primary button textTranform-capitilze borderRadius-xxs" style="padding-top: 4px;padding-bottom: 4px;">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end add device -->